body{
    margin: 0;
    font-family: sans-serif;
    background: white;
}
h3{
    text-align: center;
    font-sixe: 30px;
    margin: 0;
    padding-top: 10px;
}
a{
    text-decoration: none;
}
.gallery{
    display: flex;
    flex-warp: warp;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}
.content{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px black, 0 10px 10px black;
    transition: .4s;
    background:  white;
}
.content :hover{
    box-shadow: 0 3px 6px black, 0 3px 6px black
    transform: translate(0px, -8px);
}
img{
    width: 200px;
    height: 200px;
    text-align:center;
    margin: 0 auto;
    display: block;
}
p{
    text-align: center;
    color: white;
    padding-top: 0 8px;
}
h6{
    font-size: 26px;
    text-align: center;
    color: black;
    margin: 0;
}
ul{
    list-style: none;
    display: flex;
    justify-content:center;
    align-items: center;
    padding-top:0;

}
li{
    padding-top: 5px;
}
.fa{
    font-size: 26px;
    transition: .4s;
}